language: ruby
rvm:
 - "2.1.0"
env:
 - DB=postgresql
before_script:
  - psql -c "CREATE USER deadmoroz WITH PASSWORD 'deadmoroz';" -U postgres
  - psql -c 'create database liceum_test' -U postgres
script: 
	-bundle exec rspec spec