.container
  .row
    %h1 Админпанель
    %table
      %caption Список всех пользователей
      - @users.each do |user|
        %tr
          %td= user.id
          %td= link_to user.full_name, profile_path(user)
          %td= user.email
          - if user.has_role? :admin
            %td Администратор
          - elsif user.has_role? :student
            %td Студент
          - elsif user.has_role? :observer
            %td Наблюдатель
          - else
            %td
          - unless user.grade.nil?
            %td= user.grade.name
