<div class = "container">	
	<div class = "row">

		<h1>Админпанель</h1>

		<table>
			<caption>Список всех пользователей</caption>
			<% @users.each do |user| %>
				<tr>
					<td><%= user.id %></td>
					<td><%= link_to user.full_name, profile_path(user) %></td>
					<td><%= user.email %></td>
					<% if user.has_role? :admin %>
						<td>Администратор</td>
					<% elsif user.has_role? :student %>
						<td>Студент</td>
					<% elsif user.has_role? :observer %>
						<td>Наблюдатель</td>
					<% else %>
						<td></td>
					<% end %>
					<% unless user.grade.nil? %>
						<td><%= user.grade.name %></td>
					<% end %>
						
				</tr>
			<% end %>
		</table>

	</div>
</div>

